@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@theme static {
  --font-sans: 'Kanit', sans-serif;

  --color-promptkai-50: #f6f6fc;
  --color-promptkai-100: #f0eff8;
  --color-promptkai-200: #e2e1f3;
  --color-promptkai-300: #cccae8;
  --color-promptkai-400: #a19ad3;
  --color-promptkai-500: #9388ca;
  --color-promptkai-600: #7f6dba;
  --color-promptkai-700: #6e5ba6;
  --color-promptkai-800: #5c4c8b;
  --color-promptkai-900: #4c3f73;
  --color-promptkai-950: #30284d;

  /* Dark Mode Color Palette */
  --color-promptkai-dark: oklch(31.982% 0.0284 250.75);
  --color-promptkai-dark-50: oklch(96.544% 0.00418 236.5);
  --color-promptkai-dark-100: oklch(92.514% 0.0104 247.94);
  --color-promptkai-dark-200: oklch(84.352% 0.02062 250.41);
  --color-promptkai-dark-300: oklch(76.228% 0.03089 248.23);
  --color-promptkai-dark-400: oklch(67.677% 0.04414 249.59);
  --color-promptkai-dark-500: oklch(58.964% 0.05638 250.54);
  --color-promptkai-dark-600: oklch(50.476% 0.0473 249.86);
  --color-promptkai-dark-700: oklch(41.613% 0.03777 248.75);
  --color-promptkai-dark-800: oklch(31.982% 0.0284 250.75);
  --color-promptkai-dark-900: oklch(19.73% 0.0127 248.47);
  --color-promptkai-dark-950: oklch(12.595% 0.00537 226.05);

}
@theme {
  --container-8xl: 90rem;
}

:root {
  --ui-header-height: --spacing(12);
  --ui-container: var(--container-8xl);
}

html {
  scroll-snap-stop: var(--ui-header-height);
}