@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Kanit', sans-serif;

  --color-promptkai-50: #faf8fc;
  --color-promptkai-100: #f3eff8;
  --color-promptkai-200: #eae1f3;
  --color-promptkai-300: #d9cae8;
  --color-promptkai-400: #c0a7d9;
  --color-promptkai-500: #9d76c1;
  --color-promptkai-600: #9169b4;
  --color-promptkai-700: #7b549c;
  --color-promptkai-800: #674980;
  --color-promptkai-900: #543b68;
  --color-promptkai-950: #382249;

  /* Dark Mode Color Palette */
  --color-charade-50: #f6f7f9;
  --color-charade-100: #ecedf2;
  --color-charade-200: #d5d7e2;
  --color-charade-300: #b1b7c8;
  --color-charade-400: #868faa;
  --color-charade-500: #677190;
  --color-charade-600: #525a77;
  --color-charade-700: #434961;
  --color-charade-800: #3a4052;
  --color-charade-900: #343746;
  --color-charade-950: #22242e;

}
@theme {
  --container-8xl: 95rem;
}

:root {
  --ui-container: var(--container-8xl);
}